<br><div class="container-fluid row">
    <div class="col-sm-12" style="text-align: center;">
        <h2>{{notificationData?.title}}</h2>
    </div>
    <br>
    <br><br>
    <form [formGroup]="form">
        <div class="row">
            <div class="col-sm-12" style="text-align: center;">
                <mat-form-field style="width:100%" appearance="outline">
                    <mat-label>Courses&nbsp;<sup>*</sup></mat-label>
                    <mat-select formControlName="course">
                        <mat-option *ngFor="let sub of coursesList" [value]="sub" >
                            {{sub.title}}</mat-option>
                    </mat-select>
                </mat-form-field>
                
            </div>
        </div>
    </form>
    <br>
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-2">
            <button mat-stroked-button color="warn" mat-dialog-close >Cancel</button>
        </div>
        <div class="col-sm-2">
            <button mat-raised-button color="primary" [disabled]="!form.valid"
            [mat-dialog-close]="'confirm'" (click)="submit()">Send</button>
        </div>
    </div>


</div>