<div class="create-user-container">

  <h2 *ngIf="mode === 'add'">
    <span translate>COMMON.CREATE</span>
    <span translate> COMMON.USER</span>
  </h2>
  <h2 *ngIf="mode === 'edit'">
    <span translate>COMMON.EDIT</span>
    <span translate> COMMON.USER</span>
  </h2>

  <!-- <div class="flex-wrap">
    <div class="w-1-4" style="width: 150px;">
      <button type="button" class="button" mat-raised-button (click)="filePicker.click()">
        <mat-icon>image</mat-icon> Select File
      </button>&nbsp;<span>{{fileName}}</span>
      <input type="file" #filePicker (change)="onFileSelected($event)" accept=".csv,.xlsx,.xls">
    </div>
    <div class="w-1-2">
      <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    </div>
  </div> -->



  <application-form-error [errors]="errors"></application-form-error>

  <application-create-user [mode]="mode" [data]="{ user: (user$ | async) }" (commit)="submit($event)">
  </application-create-user>



</div>