<div class="container">
    <h2 style="text-align: center;">Reply&nbsp;To&nbsp;<span>{{ticketData?.ticketId}}</span></h2>
    <div class="row">
        <div class="col-sm-12" id="replay">
            <mat-form-field appearance="outline">
                <textarea matInput placeholder="send message.." #input></textarea>
            </mat-form-field>
            <div>
                <button type="button" class="savebutton" mat-raised-button (click)="filePicker.click()">
                    <mat-icon>image</mat-icon>Reply Image
                </button>&nbsp;
                <span *ngFor="let name of fileName;let i = index">{{i+1}} .&nbsp;{{name.name}}<br> </span>
                <input type="file" #filePicker (change)="upload($event.target.files)" multiple>
            </div>
            <div class="row">
                <div class="col-sm-4" *ngFor="let img of reply_image">
                    <img [src]="img" *ngIf="img" style="width: 100%;height: 250px;"><br><br>
                </div>
            </div>
        </div>
        <div mat-dialog-actions align="end">
            <button class="btn btn-danger savebutton" mat-dialog-close translate>Cancel</button>&nbsp;
            <button type="button" [disabled]="!message?.nativeElement?.value && reply_image?.length == 0"
                class="btn btn-primary savebutton" (click)="SendReplay()" mat-dialog-close>Send</button>
        </div>
    </div>