<div class="questions-list">

  <div class="search">
    <div style="float: right;width: 74%;">
      <mat-form-field class="full-width">
        <mat-label translate>COMMON.SEARCH</mat-label>
        <input type="search" matInput name="search" #input [placeholder]="'PAGE.ORGANIZATION_LIST.SEARCH' | translate" />
        <button matSuffix mat-stroked-button color="primary"
          (click)="filterQuestions(input.value)">Search</button>
  
      </mat-form-field>
    </div>
    <div class="width:1%;"></div>
    <div style="width: 25%;">
      <mat-form-field class="full-width">
        <mat-label translate>Select Subject</mat-label>
        <input matInput (keyup)="syllabusFilter($event)" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of subjects" [value]="item.title" (click)="questionsBySubject(item)">
            {{item.title}} ({{item.shortcut}})
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>

  <!-- <div class="search" *ngIf="questions?.length > 0">
    <mat-form-field class="full-width">
      <mat-label translate>COMMON.SEARCH</mat-label>
      <input type="search" matInput name="search" [placeholder]="'PAGE.ORGANIZATION_LIST.SEARCH' | translate"
        (keyup)="filterQuestions($event)" />
    </mat-form-field>
  </div> -->

  <table mat-table [dataSource]="filteredQuestions" matSort>
    <!-- <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="display:none">
        S.No
      </th>
      <td mat-cell *matCellDef="let row;">
       <h2 class="index">{{filteredQuestions.filteredData.indexOf(row)+1}}&nbsp;.</h2>
      </td>
    </ng-container> -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="display:none">
        {{ 'COMMON.TITLE' | translate }}
      </th>
      <td mat-cell *matCellDef="let row">
        <application-question-preview  [question]="row" [index]="questions.indexOf(row)+1"
        [canSelect]="canSelect " [assignedQstions]="assignedQuestions" (data)="buildSelectedList($event)"
        (delete)="delete.emit($event)" (edit)="edit.emit($event)">
      </application-question-preview>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
  </table>
  <!-- <mat-paginator [showFirstLastButtons]="true" [length]="total" [pageSizeOptions]="totalLength"></mat-paginator> -->
  <!-- <mat-paginator 
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [showFirstLastButtons]="true"
  (page)="pageEvent = $event"
  (click)="lengthNumber()">
</mat-paginator> -->
<mat-paginator  #paginator (click)="lengthNumber(paginator)"  [showFirstLastButtons]="true" [pageSizeOptions]="[10,25,50, 100]"
[pageSize]="10" [length]="total"></mat-paginator>

  <!-- <ng-container *ngIf="filteredQuestions?.length">
    <application-question-preview *ngFor="let question of filteredQuestions" [question]="question" [index]="filteredQuestions.indexOf(question)+1"
      [canSelect]="canSelect " [assignedQstions]="assignedQuestions" (data)="buildSelectedList($event)"
      (delete)="delete.emit($event)" (edit)="edit.emit($event)">
    </application-question-preview>
  </ng-container> -->

  <div *ngIf="!questions" class="empty-list">
    <h3 class="text-center h3" translate>
      PAGE.QUESTIONS_LIST.EMPTY
    </h3>
  </div>

</div>
