<mat-card class="mat-elevation-z1">
    <form [formGroup]="createPeralForm">
        <br>
        <mat-form-field>
            <mat-label>Peral Title&nbsp;<sup>*</sup></mat-label>
            <input matInput placeholder="Placeholder" formControlName="title">
        </mat-form-field>
        <div class="title form-element">
            <mat-label translate>Peral Explaination&nbsp;<sup>*</sup></mat-label>
            <ckeditor [config]="config"  [editor]="Editor" formControlName="explaination"></ckeditor>
          </div>
        <!-- <mat-form-field>
            <mat-label>Peral Explaination</mat-label>
            <input matInput placeholder="Placeholder" formControlName="explaination">
        </mat-form-field> -->
     
        <div class="form-element flags last" [formGroup]="createPeralForm.controls.flags">
            <strong><span translate>COMMON.FLAGS</span></strong>
            <label for="active">
                <mat-checkbox class="example-margin" name="active" formControlName="active">{{ 'COMMON.ACTIVE' |
                    translate }}
                </mat-checkbox>
            </label>
        </div>

        <button type="button"  mat-raised-button color="warn" class="actionBtn" translate [routerLink]="['/perals/list']" style="margin-left: 80%;">
           Cancel
        </button>&nbsp;
        <button type="submit"   mat-raised-button color="primary" class="actionBtn"  (click)="submit()" translate [disabled]="!createPeralForm.valid">
           Submit
        </button>
    </form><br>

</mat-card>