<div class="career-list-container">

    <!-- <div class="page-title"> -->
    <div class="row">
        <div class="col col-sm-8">
            <div class="title">
                <h2>Notifications&nbsp;List</h2>
            </div>
        </div>
        <div class="col col-sm-4" style="text-align: right;">
            <div class="action-buttons">
                <button mat-raised-button color="primary" [routerLink]="['../']">Send Notification</button>
            </div>
        </div>
    </div>
    <br>
    <!-- </div> -->
    <div class="row">
        <div class="col-sm-7">
            <mat-form-field style="width: 100%;">
                <mat-label translate>COMMON.SEARCH</mat-label>
                <input matInput (keyup)="applyFilter(input.value)" #input />
            </mat-form-field>
        </div>
        <div class="col-sm-2" [formGroup]="form">
            <mat-form-field style="width: 100%;">
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fromDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-sm-2" [formGroup]="form">
            <mat-form-field style="width: 100%;">
                <mat-label>To Date</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="toDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-sm-1">
            <button style="margin-top: 10px;" mat-stroked-button color="primary" type="button" [disabled]="!form.valid" (click)="searchNotifications()">Search</button>
        </div>
    </div>
    <!-- <div class="flex-wrap">
        <div style="width:55%">
          <mat-form-field class="full-width">
            <mat-label translate>COMMON.SEARCH</mat-label>
            <input matInput (keyup)="applyFilter(input.value)"  #input />
          </mat-form-field>
        </div>
        <form [formGroup]="form" style="margin-top: -16px;margin-left:10px;">
          <div class="flex-wrap">
            <div class="form-element child">
              <mat-form-field>
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fromDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>&nbsp;&nbsp;
            <div class="form-element child">
              <mat-form-field>
                <mat-label>To Date</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="toDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>&nbsp;&nbsp;
          </div>
        </form>
      </div>
      <div style="margin-top:-70px ;margin-left: 92%;">
        <button  mat-stroked-button color="primary" type="button" [disabled]="!form.valid" (click)="searchNotifications()">Search</button>&nbsp;
      </div><br> -->
    <div class="mat-elevation-z1">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef>S.No</th>
                <td mat-cell *matCellDef="let row;let i = index">{{dataSource.filteredData.indexOf(row)+1 }}</td>
            </ng-container>
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef style="width: 200px;">
                    Title
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.title}}
                </td>
            </ng-container>

            <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef style="width: 200px;">
                    Message
                </th>
                <td mat-cell *matCellDef="let row" [matTooltip]="row.message">
                    {{row.message | slice:0:50}}...
                </td>
            </ng-container>



            <ng-container matColumnDef="notificationType">
                <th mat-header-cell *matHeaderCellDef>
                    NotificationType
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.notificationType}}
                </td>
            </ng-container>
            <ng-container matColumnDef="batch">
                <th mat-header-cell *matHeaderCellDef>
                    Course
                </th>
                <td mat-cell *matCellDef="let row">
                    <!-- {{row?.courses?.title}} -->
                    <div *ngFor="let value of row?.courses;let i = index">
                        <span style="margin: 3px;text-align: center;">{{value.title}}
                          {{row?.courses.length != i+1 ? ',':''}}
                        </span>
                    </div>
                    <div *ngIf="!row?.courses?.length">---</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="users">
                <th mat-header-cell *matHeaderCellDef>
                    Users Count
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.usersCount}}
                </td>
            </ng-container>

            <ng-container matColumnDef="branch">
                <th mat-header-cell *matHeaderCellDef>
                    Branch URL
                </th>
                <td mat-cell *matCellDef="let row">
                    <b [style.color]="row.branchUrl ?'green':'red'"> {{row?.branchUrl ? 'YES':'NO'}}</b>

                </td>
            </ng-container>

            <!-- <ng-container matColumnDef="scheduleOn">
                <th mat-header-cell *matHeaderCellDef>
                    Schedule On
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.scheduleDate | date:'short'}}
                </td>
            </ng-container> -->
            <ng-container matColumnDef="sendStatus">
                <th mat-header-cell *matHeaderCellDef>
                    Status
                </th>
                <td mat-cell *matCellDef="let row">
                    <b [style.color]="row.sendStatus== 0 ?'red':'green'">{{row.sendStatus == 0 ?'Pending':'Success'}}</b>
                </td>
            </ng-container>

            <ng-container matColumnDef="createdOn">
                <th mat-header-cell *matHeaderCellDef>
                    CreatedOn
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.createdOn | date:'short'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef>
                    CreatedBy
                </th>
                <td mat-cell *matCellDef="let row">
                    {{row.createdBy.name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'COMMON.ACTIONS.TITLE' | translate }}
                </th>
                <td mat-cell *matCellDef="let row">
                    <!-- <mat-icon class="view" [matMenuTriggerFor]="menu">more_vert</mat-icon> -->
                    <i class="material-icons" [matMenuTriggerFor]="menu" style="margin-left: 10px;">more_vert</i>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngIf="isEditVisible" (click)="viewNotification(row)">
                            View&nbsp;Notification
                        </button>
                        <button mat-menu-item *ngIf="isDeleteVisible" (click)="delete(row)">
                            Delete&nbsp;Notification
                        </button>
                        <button mat-menu-item (click)="duplicateNotification(row)">
                            Duplicate&nbsp;Notification
                        </button>
                    </mat-menu>

                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: DisplayedColumns"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="10">
                    No data matching the filter "{{ input.value }}"
                </td>
            </tr>
        </table>


        <mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[10,25,50, 100]"></mat-paginator>


    </div>


</div>