<mat-card>
  <div class="create-questions">
    <div>
      <form class="create" [formGroup]="createQuestionForm">
        <div class="question-type form-element">

          <!--<h3 [translate]="'PAGE.CREATE_QUESTIONS.CHOOSE_QUESTION_TYPE'"></h3>
           <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" name="type"
            formControlName="type">
            <mat-radio-button class="example-radio-button" [value]="'SINGLE'">
              {{ 'PAGE.CREATE_QUESTIONS.TYPES.SINGLE_CHOICE' | translate }}
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="'MULTIPLE'">
              {{ 'PAGE.CREATE_QUESTIONS.TYPES.MULTI_CHOICE' | translate }}
            </mat-radio-button>
          </mat-radio-group> -->


          <!--*********** @TODO TO BE ADDED AT A LATER STAGE **********-->
          <!-- <label>
            <input type="radio" name="type" formControlName="type" value="FIB" />
            <span [translate]="'PAGE.CREATE_QUESTIONS.TYPES.FILL_IN_THE_BLANK'"></span>
          </label>
          <label>
            <input type="radio" name="type" formControlName="type" value="IMG" />
            <span [translate]="'PAGE.CREATE_QUESTIONS.TYPES.IMG'"></span>
          </label> -->

          <!--   ************************************************  -->
        </div>



        <div class="title form-element">
          <mat-label translate>Question&nbsp;<sup>*</sup></mat-label>
          <ckeditor [config]="config" [editor]="Editor" formControlName="title"></ckeditor>
          <button mat-raised-button color="primary"
          style="float: right;" (click)="checkExistedQuestion()">check question</button>

          <!-- <ckeditor name="title" formControlName="title"></ckeditor> -->
        </div>

        <div class="child">
          <application-upload-image class="child" [url]="question?.imgUrl" (formData)="getImageUrl($event)">
          </application-upload-image>
        </div>

        <!--  <div class="question-img form-element" [formGroup]="createQuestionForm.controls.imgUrl">
          <label for="imgUrl" translate>COMMON.QUESTION_IMG</label>
       
  
         <div class="add-img-type">
            <label for="upload">
              <mat-checkbox class="example-margin" name="upload" formControlName="upload" [checked]="upload"
                (change)="toggleImgUrlTextBox($event)">{{
                'PAGE.CREATE_QUESTIONS.HAS_IMG_URL_LABEL' | translate
                }}</mat-checkbox>
            </label>
            <input *ngIf="!createQuestionForm.controls.imgUrl.value.upload" type="file" name="url" formControlName="url"
              (change)="upload($event.target.files)" />
            <mat-form-field class="example-form-field display-block"
              *ngIf="createQuestionForm.controls.imgUrl.value.upload">
              <input matInput type="url" name="url" formControlName="url" [placeholder]="
                  'PAGE.CREATE_QUESTIONS.HAS_IMG_URL_LABEL' | translate
                " />
            </mat-form-field>
          </div> 
        </div>-->

        <div *ngIf="type === 'SINGLE' || type === 'MULTIPLE'">
          <div>
            <label translate>COMMON.OPTIONS</label>
            <!-- <a href="javascript:void(0);" (click)="addNewOption()" translate>
              PAGE.CREATE_QUESTIONS.ADD_OPTION
            </a> -->
          </div>
          <div class="options" formArrayName="options">
            <div *ngFor="
                let option of createQuestionForm.get('options')['controls'];
                let i = index
              ">
              <div [formGroupName]="i">
                <div class="card form-element" style="background-color: #EAEDED;box-shadow: none;">
                  <!-- <button (click)="removeOption(i)">Delete</button> -->
                  <div>
                    <mat-label translate [translateParams]="{ num: i + 1 }">COMMON.OPTION&nbsp;<sup>*</sup>

                      <mat-icon title="add checkpoint by topic" class="clear-topic trash" (click)="removeOption(i)">
                        restore_from_trash
                      </mat-icon>

                    </mat-label>
                    <ckeditor [config]="config" [editor]="Editor" formControlName="name"></ckeditor>
                    <!-- <ckeditor name="name" formControlName="name"></ckeditor> -->
                  </div>
                  <div class="child">
                    <application-upload-image class="child " [url]="question?.options[i]?.imgUrl"
                      (formData)="getOptionsUrl($event,i)"></application-upload-image>
                  </div>
                  <!-- <div class="add-img-type">
                    <label for="upload">
                      <mat-checkbox class="example-margin" name="upload" formControlName="upload" [checked]="upload"
                        (change)="toggleImgUrlTextBox($event)">{{
                        'PAGE.CREATE_QUESTIONS.HAS_IMG_URL_LABEL' | translate
                        }}</mat-checkbox>
                    </label>
                    <input *ngIf="
                        !createQuestionForm.get('options')['controls'][i].value.upload
                      " type="file" name="imgUrl" formControlName="imgUrl"
                      (change)="upload($event.target.files, option)" />
                    <mat-form-field class="example-form-field display-block" *ngIf="createQuestionForm.get('options')['controls'][i].value.upload
                      ">
                      <input matInput type="url" name="imgUrl" formControlName="imgUrl" [placeholder]="
                          'PAGE.CREATE_QUESTIONS.HAS_IMG_URL_LABEL' | translate
                        " />
                    </mat-form-field>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <button mat-raised-button color="primary" type="button" (click)="addNewOption()">Add Option</button>
          <div class="answer form-element">
            <mat-label>{{ 'COMMON.ANSWER' | translate }}&nbsp;<sup>*</sup></mat-label>
            <div *ngIf="type === 'SINGLE'">
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                formControlName="answer">
                <mat-radio-button class="example-radio-button"
                  *ngFor="let item of [].constructor(options.length); let i = index" [value]="i + 1"
                  (change)="updateAnswer($event, i + 1,i)">
                  {{ i + 1 }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div *ngIf="type === 'MULTIPLE'">
              <!-- <mat-checkbox class="example-radio-button"
                          *ngFor="let item of [].constructor(options.length); let i = index" formControlName="answer"
                          [value]="i + 1" (change)="updateAnswer($event, i + 1)">
                          {{ i + 1 }}
                        </mat-checkbox> -->
              <section class="example-section">
                <mat-checkbox class="example-margin" *ngFor="let item of [].constructor(options.length); let i = index;"
                  [value]="1" [checked]="i+1 === ansArray[0]" (change)="updateAnswer($event, i + 1,i)">
                  {{i+1}}</mat-checkbox>
              </section>
            </div>
          </div>
        </div>
        <div class="description form-element">
          <div class="full-width">
            <mat-label translate>COMMON.DESCRIPTION&nbsp;<sup>*</sup></mat-label>
            <ckeditor [config]="config" [editor]="Editor" formControlName="description"></ckeditor>
            <!-- <ckeditor name="description" formControlName="description"></ckeditor> -->
          </div>
        </div>
        <div class="child">
          <application-upload-image class="child" [url]="question?.descriptionImgUrl"
            (formData)="getDescriptionImgUrl($event)">
          </application-upload-image>
        </div>
        <div class="flex-wrap">
          <div class="form-element child w-1-2">
            <mat-form-field>
              <mat-label>{{
                'PAGE.CREATE_QUESTIONS.PREVIOUS_APPERANCES' | translate
                }}</mat-label>
              <!-- <mat-label>Banner Tag</mat-label> -->
              <input matInput name="previousAppearances" formControlName="previousAppearances" />
            </mat-form-field>
          </div>

          <div class="form-element child">
            <!-- <mat-form-field>
              <mat-label>{{ 'COMMON.TAGS' | translate }}</mat-label>
              <input matInput type="text" name="tags" formControlName="tags" placeholder="#tag1" />
            </mat-form-field> -->

            <!-- <mat-form-field class="full-width">
              <mat-label>{{ 'COMMON.TAGS' | translate }}</mat-label>
              <input matInput (keyup)="tagsFilter($event)" formControlName="tags" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item of tags" [value]="item">
                  {{item.title}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field> -->

            <mat-form-field>
              <mat-label>{{ 'COMMON.TAGS' | translate }}</mat-label>
              <mat-select formControlName="tags" name="tags" [compareWith]="helper.compareFn">
                <mat-option *ngFor="let item of tags" [value]="item">
                  {{item.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>

        <div class="flex-wrap">
          <div class="difficulty form-element child">
            <mat-form-field>
              <mat-label translate>COMMON.DIFFICULTY&nbsp;<sup>*</sup></mat-label>
              <mat-select formControlName="difficulty" name="difficulty">
                <mat-option value="EASY">{{
                  'COMMON.EASY' | translate
                  }}</mat-option>
                <mat-option value="MEDIUM">{{
                  'COMMON.MEDIUM' | translate
                  }}</mat-option>
                <mat-option value="HARD">{{
                  'COMMON.HARD' | translate
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <div class="form-element child">
  
            <mat-form-field>
  
              <mat-label translate>COMMON.COURSES</mat-label>
              <mat-select
                formControlName="courses"
                [compareWith]="helper.compareFn"
                multiple>
                <mat-option *ngFor="let item of courses" [value]="item">
                  {{ item.title }}
                </mat-option>
              </mat-select>
  
            </mat-form-field>
  
          </div> -->

          <!-- <div class="form-element syllabus child">
            <mat-form-field>
              <mat-label translate>COMMON.SYLLABUS</mat-label>
              <mat-select formControlName="syllabus" [compareWith]="helper.compareFn" multiple>
                <mat-option *ngFor="let item of syllabus" [value]="item">
                  <strong>{{ item.title }}</strong> ( {{ item.type }} )
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
          <div class="form-element syllabus child">
            <mat-form-field *ngIf="path === 'bank'">
              <mat-label translate>COMMON.SYLLABUS&nbsp;<sup>*</sup></mat-label>
              <mat-select formControlName="syllabus" [compareWith]="helper.compareFn" multiple>
                <mat-option *ngFor="let item of syllabus" [value]="item">
                  <strong>{{ item.title }} [ {{item.shortcut}} ]</strong>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="path === 'test_series'">
              <mat-label translate>COMMON.SYLLABUS&nbsp;<sup>*</sup></mat-label>
              <mat-select [value]="testSubjects" [compareWith]="helper.compareFn" multiple disabled>
                <mat-option *ngFor="let item of syllabus" [value]="item">
                  <strong>{{ item.title }} [ {{item.shortcut}} ]</strong>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="path === 'Qbank'">
              <mat-label translate>COMMON.SYLLABUS&nbsp;<sup>*</sup></mat-label>
              <input matInput type="text" [value]="subjectName" readonly />
            </mat-form-field>

          </div>
        </div>
        <div class="flex-wrap">
          <div class="form-element syllabus child">
            <mat-form-field class="form-element child">
              <mat-label translate>Perals</mat-label>
              <mat-select formControlName="perals" [compareWith]="helper.compareFn" multiple>
                <!-- (selectionChange)="insertAndDeleteArray($event.value)" -->
                <mat-option *ngFor="let item of perals" [value]="item" #EVENT
                  (click)="insertAndDeleteArray(EVENT._selected,item._id)">
                  <strong>{{ item.title }}</strong>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="form-element child" *ngIf="path === 'test_series' || path === 'Qbank'">
              <mat-label>Order</mat-label>
              <input matInput name="order" formControlName="order" />
            </mat-form-field>
          </div>
        </div>
        <div class="answer form-element">
          <mat-label>Math Type&nbsp;<sup>*</sup></mat-label> &nbsp; &nbsp;
          <mat-radio-group formControlName="mathType">
            <mat-radio-button value="yes">YES</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="form-element flags last" [formGroup]="createQuestionForm.controls.flags">
          <strong><span translate>COMMON.FLAGS</span></strong>
          <label for="pro">
            <mat-checkbox class="example-margin" name="pro" formControlName="pro">{{
              'COMMON.PRO' | translate
              }}</mat-checkbox>
          </label>
          <label for="editable">
            <mat-checkbox class="example-margin" name="editable" formControlName="editable">
              {{ 'COMMON.EDITABLE' | translate }}</mat-checkbox>
          </label>
          <label for="qBank">
            <mat-checkbox class="example-margin" name="qBank" formControlName="qBank">{{ 'COMMON.QBANK' | translate }}
            </mat-checkbox>
          </label>
          <label for="testSeries">
            <mat-checkbox class="example-margin" name="testSeries" formControlName="testSeries">
              {{ 'COMMON.TEST_SERIES' | translate }}</mat-checkbox>
          </label>
          <label for="active">
            <mat-checkbox class="example-margin" name="active" formControlName="active">{{ 'COMMON.ACTIVE' | translate
              }}
            </mat-checkbox>
          </label>
          <label for="paid">
            <mat-checkbox class="example-margin" name="paid" formControlName="paid">Paid</mat-checkbox>
          </label>
        </div>
        <footer class="text-right button-group p-1 form-actions fixed">
          <button translate mat-stroked-button color="warn" (click)="onReset()">
            Reset
          </button>
          <button translate mat-raised-button color="primary" (click)="onReview()" *ngIf="path === 'bank'"
            [disabled]="!createQuestionForm?.valid">
            Review
          </button>
          <button translate (click)="onReview()" mat-raised-button color="primary"
            [disabled]="createQuestionForm.value?.answer == '' || createQuestionForm.value?.title == '' || createQuestionForm.value?.description == '' || createQuestionForm.value?.difficulty == ''  "
            *ngIf="path === 'Qbank' || path === 'test_series'">
            Review
          </button>

          <button type="submit" (click)="onSubmit()" mat-raised-button color="primary" translate
          [disabled]="!loading">
            Submit
          </button>
        </footer>
      </form>
    </div>
  </div>



</mat-card>