<!-- <loading *ngIf="isLoading">{{ isLoading }}</loading> -->
<!-- <div id="pause" *ngIf="isLoading" class="d-flex align-items-center justify-content-center">
  <div id="spinner"></div>
</div> -->

<div class="tests-list" *ngIf="tests">

  <table>
    <tr>
      <td style="width: 85%;">
        <mat-form-field class="full-width">
          <mat-label translate>COMMON.SEARCH</mat-label>
          <input type="search" matInput name="search" [placeholder]="'COMMON.FILTER.BY_TITLE' | translate"
            (keyup)="filterList($event)" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="margin-top: -3px;">
          <mat-label>Select&nbsp;Order&nbsp;Type</mat-label>
          <mat-select>
            <mat-option value="dragAndDrop" #dragAndDrop (click)="selectOrderType(dragAndDrop)">Drag And Drop
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <!-- <td>
        <mat-checkbox class="example-margin" [checked]="allComplete" [indeterminate]="Indeterminate"
          style="  margin-left: 0%;" (change)="setAll($event.checked)">
          Select&nbsp;All&nbsp;Tests&nbsp;&nbsp;&nbsp;&nbsp;</mat-checkbox>
      </td> -->
    </tr>
  </table>


  <div class="example-container">
    <div class="exampleBox">
      <table style="text-align: left;">
        <tr>
          <th style="width: 30px;">S.No</th>
          <th style="width: 350px;">Title</th>
          <th style="width: 50px;text-align: center;">Order</th>
          <th style="width: 150px;text-align: center;">Question&nbsp;Count</th>
          <th style="width: 250px;text-align: center;">Actions</th>
          <th style="width:250px">Questions&nbsp;Upload</th>
          <th></th>
          <th style="width:80px;text-align: left;">Status</th>
          <th style="text-align: right;">
            <mat-checkbox class="example-margin" [checked]="allComplete" [indeterminate]="Indeterminate"(change)="setAll($event.checked)"></mat-checkbox>
          </th>
        </tr>
      </table>
    </div>
    <div cdkDropList [cdkDropListData]="filteredList" class="example-list" (cdkDropListDropped)="drop($event)">

      <div class="example-box" *ngFor="let test of filteredList;let i = index" cdkDrag [cdkDragDisabled]="test.disabled" (mouseover)="getTestUUid(test)">
        <table>
          <tr>
            <td style="width: 30px;">{{i+1}}</td>
            <td style="width: 350px;">{{ test.title }}</td>
            <td style="width: 50px;text-align: center;">{{ test.order }}</td>
            <td style="width: 150px;text-align: center;">{{ test?.que?.length }}</td>
            <td style="width: 250px;text-align: center;">
              <!-- <a  routerLink="/test-series/categories/{{categoryUuid}}/tests/{{test.uuid}}/view-questions">
                <mat-icon class="view" color="primary" matTooltip="View Questions" *ngIf="viewQuestionsVisible"
                (click)="viewQuestions.emit(test)">
                visibility </mat-icon>
              </a>
             
              <a routerLink="/test-series/categories/{{categoryUuid}}/tests/{{test.uuid}}/edit" *ngIf="editTestVisible">
                <mat-icon class="view" color="primary" matTooltip="Edit"> mode </mat-icon>
              </a>
              <mat-icon class="view" color="warn" matTooltip="Delete" (click)="delete.emit(test)"
                *ngIf="deteteTestVisible"> delete </mat-icon>
              <mat-icon class="view" color="accent" matTooltip="Export" (click)="testAttemptedList(test,i)">
                cloud_download </mat-icon> -->

                <a  routerLink="/test-series/categories/{{categoryUuid}}/tests/{{test.uuid}}/view-questions">
                  <i class="material-icons" style="color: #102f95;" matTooltip="View Questions" *ngIf="viewQuestionsVisible"
                  (click)="viewQuestions.emit(test)">
                  visibility </i>
                </a>
               
                <a routerLink="/test-series/categories/{{categoryUuid}}/tests/{{test.uuid}}/edit" *ngIf="editTestVisible">
                  <i class="material-icons" style="color: #102f95;" matTooltip="Edit"> mode </i>
                </a>
                <i class="material-icons" style="color:#f22424;" matTooltip="Delete" (click)="delete.emit(test)"
                  *ngIf="deteteTestVisible"> delete </i>
                  <i class="material-icons" style="color: #f60c8c;" matTooltip="Export" (click)="testAttemptedList(test,i)">
                  cloud_download </i>

                <!-- <application-spinner *ngIf="spinner[i]"></application-spinner>
                <div class="spinner-border text-muted"></div> -->
            </td>
            <td style="width:250px;">
              <button type="button" class="button" (click)="filePicker.click()" style="padding: 6px 5px;">
                Questions File
              </button>
              &nbsp;<button style="padding: 6px 5px;" class="primary" (click)="FileTestQueSubmited(test)">Upload</button>
              <br><span>{{fileName[i]}}</span>
            </td>
            <td>
              <input type="file" #filePicker (change)="onFileSelected($event,i)" accept=".csv,.xlsx,.xls,.json" style="width: 20px;">
            </td>
            <td style="width:80px;text-align: left;">
              <span  *ngIf="!test.flags?.active">
                <b style="color: red;">{{test.flags?.active}}</b>
              </span>
              <span  *ngIf="test.flags?.active">
                <b style="color: green;">{{test.flags?.active}}</b>
              </span>
            </td>
            <td style="text-align: right;">
              <mat-checkbox (change)="toggleQuestion($event,test)" [checked]="allSelected">
              </mat-checkbox>
            </td>

          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- <div cdkDropListGroup>
    <div class="example-container">
      <div cdkDropList [cdkDropListData]="filteredList" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="topics bg-f8 my-1" *ngFor="let test of filteredList;let i = index" cdkDrag>

          <div class="flex-wrap" (mouseover)="getTestUUid(test)">
            <div class="w-1-4">
              &nbsp;&nbsp;&nbsp;&nbsp;<strong translate>COMMON.TITLE</strong>
              <br>
              <label>{{i+1}}</label>.&nbsp;<span>{{ test.title }}</span>
            </div>
            <div class="w-1-4">
              <strong translate>COMMON.ORDER</strong>
              <br>
              <span>{{ test.order }}</span>
            </div>
            <div class="w-1-4">
              <span translate>COMMON.QUESTIONS </span>
              <span translate>COMMON.COUNT</span>
              <br>
              <strong class="px-1">{{ test?.que?.length }}</strong>
            </div>
            <div class="w-1-4">
              <mat-icon class="view" color="primary" matTooltip="View Questions" *ngIf="viewQuestionsVisible"
                (click)="viewQuestions.emit(test)">
                visibility </mat-icon>
                <a routerLink="/test-series/categories/{{categoryUuid}}/tests/{{test.uuid}}/edit"  *ngIf="editTestVisible">
                  <mat-icon class="view" color="primary" matTooltip="Edit" 
                 > mode </mat-icon>
                </a>
              <mat-icon class="view" color="warn" matTooltip="Delete" (click)="delete.emit(test)"
                *ngIf="deteteTestVisible"> delete </mat-icon>

              <mat-checkbox class="mat-checkbox" (change)="toggleQuestion($event,test)" [checked]="allSelected">
              </mat-checkbox>
            </div>
            <div class="flex-wrap">
              <div class="w-1-1">
                <button type="button" class="button" mat-raised-button (click)="filePicker.click()">
                  <mat-icon>image</mat-icon> Select Test Questions File
                </button>&nbsp;<span>{{fileName}}</span>
                <input type="file" #filePicker (change)="onFileSelected($event)" accept=".csv,.xlsx,.xls,.json">
              </div>
              <div class="w-1-4">
                <button mat-raised-button color="primary" (click)="FileTestQueSubmited(test)">Save</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div> -->


  <!-- <div class="copyAndMovebuttons" *ngIf="isChangeBtnEnabled">
    <button mat-raised-button color="primary" translate (click)="updateQuestionOrder()">Change Order</button>
  </div> -->

  <div class="copyAndMovebuttons" *ngIf="isBtnEnabled">
    <span style="font-size: 20px;">Selected Topics : {{selectedTestCount}}</span>&nbsp;&nbsp;
    <button mat-raised-button color="primary" translate (click)="onCopy()">Copy</button>
    <button mat-raised-button color="primary" translate (click)=" onMove()">Move</button>
    <!-- <button mat-button translate class="danger" (click)=" multipletDeleteTopics()">COMMON.DELETE</button> -->
  </div>
  <div class="copyAndMovebuttons">
    <button mat-raised-button color="primary" (click)="updateShortName()">Update ShortName</button>
    <button mat-raised-button color="primary" *ngIf="isChangeBtnEnabled" translate
      (click)="updateQuestionOrder()">Change Order</button>
  </div>



  <!-- <mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel *ngFor="let test of filteredList">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>{{filteredList.indexOf(test)+1 }}</span>.&nbsp;
          <span>{{ test.title }}</span>
        </mat-panel-title>
        <mat-panel-description>
          <div class="flex-wrap">
            <div>
              <span translate>COMMON.COUNT</span>
              <strong class="px-1">{{ test.questions?.length }}</strong>
            </div>
            <div>
              <span translate>COMMON.CREATED_ON</span>
              <strong class="px-1">{{ helper.formatDate(test.createdOn) }}</strong>
            </div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <application-test-preview  [test]="test"></application-test-preview>

      <mat-action-row>
        <mat-icon color="primary" (click)="edit.emit(test)"> edit </mat-icon>
        <mat-icon color="warn" (click)="delete.emit(test)"> delete </mat-icon>
      </mat-action-row>

    </mat-expansion-panel>

  </mat-accordion> -->
</div>
