<div class="user-subscriptions">

  <div class="exampleBox">
    <table>
      <tr>
        <td style="width: 50px;">S.No</td>
        <td style="width: 300px;">&nbsp;&nbsp;&nbsp;Title</td>
        <td style="width: 200px;">&nbsp;&nbsp;&nbsp;Course</td>
        <td style="width: 50px;">Order</td>
        <td style="width: 200px;text-align: center;">Created&nbsp;On</td>
        <td style="width: 200px;text-align: center;">Expiry&nbsp;Date </td>
      </tr>
    </table>
  </div>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel *ngFor="let sub of subscriptions;let i = index">
      <mat-expansion-panel-header>
        <table>
          <tr>
            <td style="width: 50px;">{{i+1}}</td>
            <td style="width: 300px;"> {{ sub?.title }}</td>
            <td style="width: 200px;">{{sub.course.title}}</td>
            <td style="width: 50px;text-align: center;">{{ sub.order }}</td>
            <td style="width: 200px;text-align: center;">{{ sub.createdOn | date:'medium' }}</td>
            <td style="width: 200px;text-align: center;">
              <strong class="px-1" style="color: red;" *ngIf="todayDate.toISOString().toString() > sub.expiry_date">{{
                sub.expiry_date | date:'medium'}}</strong>
              <strong class="px-1" style="color: green;" *ngIf="todayDate.toISOString().toString() < sub.expiry_date">{{
                sub.expiry_date | date:'medium'}}</strong>
            </td>
          </tr>
        </table>
        <!-- <mat-panel-title>
          <label>{{i+1}}</label>.&nbsp; {{ sub?.title }}
          &nbsp;
          <span style="color: #CB4335;">[ {{sub.course.title}} ]</span>
        </mat-panel-title>
        <mat-panel-description>
          <span translate>COMMON.ORDER</span>
          <strong class="px-1">{{ sub.order }}</strong>
          <span translate>COMMON.CREATED_ON</span>
          <strong class="px-1">{{ sub.createdOn | date:'medium' }}</strong>
          <span translate>Expiry Date</span>
          <strong class="px-1" style="color: red;" *ngIf="todayDate.toISOString().toString() > sub.expiry_date">{{ sub.expiry_date | date:'medium'}}</strong>
          <strong class="px-1" style="color: green;" *ngIf="todayDate.toISOString().toString() < sub.expiry_date">{{ sub.expiry_date | date:'medium'}}</strong>
        </mat-panel-description>  -->
      </mat-expansion-panel-header>


      <div class="mb-1">
        <div class="flex-wrap">
          <!-- <div class="w-1-4">
            <h3 translate>COMMON.COURSE</h3>
            <div>
              <span class="tag">
                {{ sub.course.title }} 
              </span>
            </div>
          </div> -->
          <div class="w-1-3">
            <h3 translate>COMMON.TESTS</h3>
            <div>
              <span *ngFor="let sub of sub.tests" class="tag">
                {{ sub.categories?.title }}
              </span>
            </div>
          </div>
          <div class="w-1-3">
            <h3 translate>COMMON.VIDEOS</h3>
            <div>
              <span *ngFor="let cou of sub.videos;">
                <span *ngFor="let video of cou.syllabus" class="tag">
                  {{ video?.title }}
                </span>
              </span>
            </div>
          </div>

          <div class="w-1-3">
            <h3 translate>COMMON.QBANK</h3>
            <div>
              <span *ngFor="let cou of sub.qbanks">
                <span *ngFor="let qbank of cou.syllabus" class="tag">
                  {{ qbank?.title }}
                </span>
              </span>
            </div>
          </div>

        </div>
      </div>

    </mat-expansion-panel>

  </mat-accordion>
</div>