{"openapi":"3.0.0","info":{"title":"INDRA BACKEND","description":"Backend API SPECS description","version":"1.0","contact":{"name":"support","url":"","email":"support@indraedu.com"}},"tags":[],"servers":[{"url":"https://admin.indraedu.com/proxy/api","description":"Indra Manage API"}],"components":{"schemas":{"CreateBannerDTO":{"type":"object","properties":{}},"CreateTagsDTO":{"type":"object","properties":{}},"CreateCouponDTO":{"type":"object","properties":{}},"CreateCourseDTO":{"type":"object","properties":{}},"CreateFacultyDTO":{"type":"object","properties":{}},"Course":{"type":"object","properties":{}},"User":{"type":"object","properties":{"uuid":{"type":"string","example":"0ba7596e-5087-4c72-887d-aaa730cdac23","description":"Unique Identifier"},"id":{"type":"string","example":"5fa90d866rttry3001021fd","description":"Object ID"},"name":{"type":"string","example":"Plato Architect","description":"User name"},"courses":{"example":[{"uuid":"3457596e-5087-4c72-887d-aaa730cdac23","title":"Sample Course"}],"description":"User Courses","allOf":[{"$ref":"#/components/schemas/Course"}]},"type":{"type":"string","example":"STUDENT","description":"AWS S3/Cloudinary URL for the image"},"devices":{"example":[{"id":"device-1","isLoggedIn":true}],"description":"Mobile Device Id(IMEI (android) | UDID (ios) ) and its logged in status","type":"array","items":{"type":"string"}},"dob":{"format":"date-time","type":"string","example":"2020-11-09T19:53:53.032Z","description":"User Date of Birth"},"gender":{"type":"string","example":"MALE","description":"User Gender"},"mobile":{"type":"number","example":9999999990,"description":"User Mobile"},"college":{"type":"string","example":"Plato College","description":"User College"},"imgUrl":{"type":"string","example":"http://img-url","description":"AWS S3/Cloudinary URL for the image"},"bookmarks":{"example":"Plato College","description":"User Bookmarks","type":"array","items":{"type":"string"}},"videos":{"type":"object","example":{"uuid":"221B ","title":"Video 1","vdoCipherId":"12341231"},"description":"Video Entity array to keep track of user activity"},"address":{"type":"object","example":{"addressLine1":"221B ","addressLine2":"Baker Street","state":"CAMBRIDGE","town":"LONDON","pincode":123456},"description":"User Address"},"email":{"type":"string","example":"user@platononline.com","description":"User Email"},"password":{"type":"string","example":"qwewqeqwe","description":"User password"},"otp":{"type":"string","example":"123456","description":"OTP"},"expiration_time":{"format":"date-time","type":"string","example":"Date","description":"OTP Expiration"},"accessToken":{"type":"string","example":"hash-key","description":"Access Token"},"createdOn":{"format":"date-time","type":"string","example":"2020-11-09T19:53:53.032Z","description":"Created On"},"modifiedOn":{"format":"date-time","type":"string","example":"2020-11-12T19:53:53.032Z","description":"Modified On"},"createdBy":{"type":"object","example":{"uuid":"0ba7596e-5087-4c72-887d-aaa730cdac23","name":"Krishna"},"description":"UUID & Name of the user created it"},"modifiedBy":{"type":"object","example":{"uuid":"0ba7596e-5087-4c72-887d-aaa730cdac23","name":"Krishna"},"description":"UUID & Name of the user modified it"},"flags":{"type":"object","example":{"active":true,"paid":true,"isLoggedIn":true},"description":"flags to operate on the entity"},"isLoggedIn":{"type":"boolean","example":{"isLoggedIn":true},"description":"isLoggedIn"}},"required":["uuid","id","name","courses","type","devices","dob","gender","mobile","college","imgUrl","bookmarks","videos","address","email","password","otp","expiration_time","accessToken","createdOn","modifiedOn","createdBy","modifiedBy","flags","isLoggedIn"]},"CreateUserDto":{"type":"object","properties":{"uuid":{"type":"string","example":"0ba7596e-5087-4c72-887d-aaa730cdac23","description":"Unique Identifier"},"name":{"type":"string","example":"Plato Architect","description":"User name"},"type":{"type":"string","example":"STUDENT","description":"AWS S3/Cloudinary URL for the image"},"dob":{"format":"date-time","type":"string","example":"2020-11-09T19:53:53.032Z","description":"User Date of Birth"},"imgUrl":{"type":"string","example":"http://img-url","description":"AWS S3/Cloudinary URL for the image"},"mobile":{"type":"number","example":9999999990,"description":"User Mobile"},"email":{"type":"string","example":"user@platononline.com","description":"User Email"},"courses":{"type":"object","example":[{"uuid":"3457596e-5087-4c72-887d-aaa730cdac23","title":"Sample Course"}],"description":"User Courses"},"subscriptions":{"example":[{"uuid":"3457596e-5087-4c72-887d-aaa730cdac23","title":"Full Package"}],"description":"User Subscriptions","type":"array","items":{"type":"string"}},"organizations":{"example":[{"uuid":"3457596e-5087-4c72-887d-aaa730cdac23","title":"Sample Organization"}],"description":"User Organizations","type":"array","items":{"type":"string"}},"college":{"type":"string","example":"Plato College","description":"User College"},"password":{"type":"string","example":"qwewqeqwe","description":"User password"},"otp":{"type":"number","example":"123456","description":"OTP"},"gender":{"type":"string","example":"MALE","description":"User Gender"},"createdOn":{"format":"date-time","type":"string","example":"2020-11-09T19:53:53.032Z","description":"Created On"},"modifiedOn":{"format":"date-time","type":"string","example":"2020-11-12T19:53:53.032Z","description":"Modified On"},"createdBy":{"type":"object","example":{"uuid":"0ba7596e-5087-4c72-887d-aaa730cdac23","name":"Krishna"},"description":"UUID & Name of the user created it"},"modifiedBy":{"type":"object","example":{"uuid":"0ba7596e-5087-4c72-887d-aaa730cdac23","name":"Krishna"},"description":"UUID & Name of the user created it"},"flags":{"type":"object","example":{"active":true,"paid":true},"description":"flags to operate on the entity"}},"required":["uuid","name","type","dob","imgUrl","mobile","email","courses","subscriptions","organizations","college","password","otp","gender","createdOn","modifiedOn","createdBy","modifiedBy","flags"]},"Organization":{"type":"object","properties":{"createdBy":{"type":"object","example":{"uuid":"0ba7596e-5087-4c72-887d-aaa730cdac23","name":"Krishna"},"description":"UUID & Name of the user created it"},"modifiedBy":{"type":"object","example":{"uuid":"0ba7596e-5087-4c72-887d-aaa730cdac23","name":"Krishna"},"description":"UUID & Name of the user modified it"}},"required":["createdBy","modifiedBy"]},"Employee":{"type":"object","properties":{"uuid":{"type":"string","example":"0ba7596e-5087-4c72-887d-aaa730cdac23","description":"Unique Identifier"},"id":{"type":"string","example":"5fa90d866rttry3001021fd","description":"Object ID"},"name":{"type":"string","example":"Plato Architect","description":"User name"},"role":{"type":"string","example":[{"uuid":"3457596e-5087-4c72-887d-aaa730cdac23","title":"Sample Course"}],"description":"User Courses"},"devices":{"example":[{"id":"device-1","isLoggedIn":true}],"description":"Mobile Device Id(IMEI (android) | UDID (ios) ) and its logged in status","type":"array","items":{"type":"string"}},"dob":{"format":"date-time","type":"string","example":"2020-11-09T19:53:53.032Z","description":"User Date of Birth"},"gender":{"type":"string","example":"MALE","description":"User Gender"},"mobile":{"type":"number","example":9999999990,"description":"User Mobile"},"college":{"type":"string","example":"Plato College","description":"User College"},"imgUrl":{"type":"string","example":"http://img-url","description":"AWS S3/Cloudinary URL for the image"},"organizations":{"example":[{"uuid":"3457596e-5087-4c72-887d-aaa730cdac23","title":"Sample Organization"}],"description":"User Organizations","allOf":[{"$ref":"#/components/schemas/Organization"}]},"bookmarks":{"example":"Plato College","description":"User Bookmarks","type":"array","items":{"type":"string"}},"address":{"type":"object","example":{"addressLine1":"221B ","addressLine2":"Baker Street","state":"CAMBRIDGE","town":"LONDON","pincode":123456},"description":"User Address"},"email":{"type":"string","example":"user@platononline.com","description":"User Email"},"password":{"type":"string","example":"qwewqeqwe","description":"User password"},"accessToken":{"type":"string","example":"hash-key","description":"Access Token"},"createdOn":{"format":"date-time","type":"string","example":"2020-11-09T19:53:53.032Z","description":"Created On"},"modifiedOn":{"format":"date-time","type":"string","example":"2020-11-12T19:53:53.032Z","description":"Modified On"},"createdBy":{"type":"object","example":{"uuid":"0ba7596e-5087-4c72-887d-aaa730cdac23","name":"Krishna"},"description":"UUID & Name of the user created it"},"modifiedBy":{"type":"object","example":{"uuid":"0ba7596e-5087-4c72-887d-aaa730cdac23","name":"Krishna"},"description":"UUID & Name of the user modified it"},"flags":{"type":"object","example":{"active":true,"paid":true,"isLoggedIn":true},"description":"flags to operate on the entity"}},"required":["uuid","id","name","role","devices","dob","gender","mobile","college","imgUrl","organizations","bookmarks","address","email","password","accessToken","createdOn","modifiedOn","createdBy","modifiedBy","flags"]},"CreateEmployeeDto":{"type":"object","properties":{"uuid":{"type":"string","example":"0ba7596e-5087-4c72-887d-aaa730cdac23","description":"Unique Identifier"},"name":{"type":"string","example":"Plato Architect","description":"User name"},"dob":{"format":"date-time","type":"string","example":"2020-11-09T19:53:53.032Z","description":"User Date of Birth"},"imgUrl":{"type":"string","example":"http://img-url","description":"AWS S3/Cloudinary URL for the image"},"mobile":{"type":"number","example":9999999990,"description":"User Mobile"},"email":{"type":"string","example":"user@platononline.com","description":"User Email"},"courses":{"example":[{"uuid":"3457596e-5087-4c72-887d-aaa730cdac23","title":"Sample Course"}],"description":"User Courses","type":"array","items":{"type":"string"}},"subscriptions":{"example":[{"uuid":"3457596e-5087-4c72-887d-aaa730cdac23","title":"Full Package"}],"description":"User Subscriptions","type":"array","items":{"type":"string"}},"organizations":{"example":[{"uuid":"3457596e-5087-4c72-887d-aaa730cdac23","title":"Sample Organization"}],"description":"User Organizations","type":"array","items":{"type":"string"}},"college":{"type":"string","example":"Plato College","description":"User College"},"password":{"type":"string","example":"qwewqeqwe","description":"User password"},"gender":{"type":"string","example":"MALE","description":"User Gender"},"createdOn":{"format":"date-time","type":"string","example":"2020-11-09T19:53:53.032Z","description":"Created On"},"modifiedOn":{"format":"date-time","type":"string","example":"2020-11-12T19:53:53.032Z","description":"Modified On"},"createdBy":{"type":"object","example":{"uuid":"0ba7596e-5087-4c72-887d-aaa730cdac23","name":"Krishna"},"description":"UUID & Name of the user created it"},"modifiedBy":{"type":"object","example":{"uuid":"0ba7596e-5087-4c72-887d-aaa730cdac23","name":"Krishna"},"description":"UUID & Name of the user created it"},"flags":{"type":"object","example":{"active":true,"paid":true},"description":"flags to operate on the entity"}},"required":["uuid","name","dob","imgUrl","mobile","email","courses","subscriptions","organizations","college","password","gender","createdOn","modifiedOn","createdBy","modifiedBy","flags"]},"CreateAboutUsDTO":{"type":"object","properties":{}},"CreateJobDTO":{"type":"object","properties":{}},"CreateQBankDTO":{"type":"object","properties":{}},"QBank":{"type":"object","properties":{}},"CreateQBankSubjectDto":{"type":"object","properties":{}},"QBankSubject":{"type":"object","properties":{"createdBy":{"type":"object","example":{"uuid":"0ba7596e-5087-4c72-887d-aaa730cdac23","name":"Krishna"},"description":"UUID & Name of the user created it"},"modifiedBy":{"type":"object","example":{"uuid":"0ba7596e-5087-4c72-887d-aaa730cdac23","name":"Krishna"},"description":"UUID & Name of the user modified it"}},"required":["createdBy","modifiedBy"]},"CreateSampleDTO":{"type":"object","properties":{}},"CreateSubscriptionDto":{"type":"object","properties":{}},"CreateSyllabusDto":{"type":"object","properties":{}},"CreateVideoSubjectDto":{"type":"object","properties":{}},"VideoSubject":{"type":"object","properties":{"createdBy":{"type":"object","example":{"uuid":"0ba7596e-5087-4c72-887d-aaa730cdac23","name":"Krishna"},"description":"UUID & Name of the user created it"},"modifiedBy":{"type":"object","example":{"uuid":"0ba7596e-5087-4c72-887d-aaa730cdac23","name":"Krishna"},"description":"UUID & Name of the user modified it"}},"required":["createdBy","modifiedBy"]},"CreateVideoDTO":{"type":"object","properties":{}},"Video":{"type":"object","properties":{}},"CreateTSCategoriesDTO":{"type":"object","properties":{}},"CreateTestDTO":{"type":"object","properties":{}},"Test":{"type":"object","properties":{}},"CreatePearlsDto":{"type":"object","properties":{"createdOn":{"format":"date-time","type":"string","example":"2020-11-09T19:53:53.032Z","description":"Created On"},"modifiedOn":{"format":"date-time","type":"string","example":"2020-11-12T19:53:53.032Z","description":"Modified On"},"createdBy":{"type":"object","example":{"uuid":"0ba7596e-5087-4c72-887d-aaa730cdac23","name":"Krishna"},"description":"UUID & Name of the user created it"},"modifiedBy":{"type":"object","example":{"uuid":"0ba7596e-5087-4c72-887d-aaa730cdac23","name":"Krishna"},"description":"UUID & Name of the user modified it"}},"required":["createdOn","modifiedOn","createdBy","modifiedBy"]},"CreateUserTransactionsDTO":{"type":"object","properties":{}},"CreateRoleValuesDTO":{"type":"object","properties":{}},"CreateRoleSubModulesDTO":{"type":"object","properties":{}},"CreateRolesDTO":{"type":"object","properties":{}},"CreateAgentTransactionsDTO":{"type":"object","properties":{}},"CreatePearlSubjectsDto":{"type":"object","properties":{}},"CreateSuggestedVideoDto":{"type":"object","properties":{}},"CreateSuggestedQbankDto":{"type":"object","properties":{}},"CreateMCQOfTheDayDto":{"type":"object","properties":{}},"CreatelogsDto":{"type":"object","properties":{}}}},"paths":{"/proxy/api/banners":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBannerDTO"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/banners/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/banners/dashboard/count":{"get":{"operationId":"dashboardCount","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/tags":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTagsDTO"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/tags/activeTags":{"get":{"operationId":"activeTags","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/tags/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/coupons":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCouponDTO"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/coupons/{couponUuid}":{"get":{"operationId":"findOne","parameters":[{"name":"couponUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"couponUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[{"name":"couponUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/coupons/getCouponsByAgentId/{agentId}":{"get":{"operationId":"getCouponsByAgentId","parameters":[{"name":"agentId","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/courses":{"post":{"operationId":"createCourse","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCourseDTO"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/courses/getActiveCourses":{"get":{"operationId":"getActiveCourses","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/courses/test-series/active":{"get":{"operationId":"getTestSeriesActiveCourses","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/courses/byQBank":{"get":{"operationId":"findAllQBankCourses","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/courses/byVideos":{"get":{"operationId":"findAllVideoCourses","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/courses/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/courses/getTestSeriessubjects":{"post":{"operationId":"findTestSeriesSubjectsByCourse","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/courses/getqbanksubjects":{"post":{"operationId":"getqbanksubjects","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/courses/getvideoubjects":{"post":{"operationId":"getVideosubjects","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/courses/getspqbanksubjects":{"post":{"operationId":"getspqbanksubjects","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/courses/getCouseSubjects":{"post":{"operationId":"getCouseSubjects","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/faculty":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFacultyDTO"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/faculty/faculty/active":{"get":{"operationId":"getFaculties","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/faculty/{facultyUuid}":{"get":{"operationId":"findOne","parameters":[{"name":"facultyUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"facultyUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[{"name":"facultyUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/users/paginate":{"get":{"operationId":"backend","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/users/mobile":{"post":{"operationId":"searchByMobile","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/users/login":{"post":{"operationId":"login","summary":"User logged in succesfully","tags":["users"],"parameters":[],"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"400":{"description":"Bad Request."},"403":{"description":"Forbidden."}}}},"/proxy/api/users/{uuid}/profile":{"get":{"operationId":"profile","summary":"Fetch user profile","tags":["users"],"parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"User profile Fetched Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}}},"/proxy/api/users/insertMany/users":{"post":{"operationId":"createMultiUsers","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/users":{"post":{"operationId":"createUser","summary":"User created succesfully","tags":["users"],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserDto"}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"400":{"description":"Bad Request."},"403":{"description":"Forbidden."}}},"get":{"operationId":"findAll","summary":"Fetch all users","tags":["users"],"parameters":[],"responses":{"200":{"description":"Users Fetched Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}}},"/proxy/api/users/students":{"get":{"operationId":"findAllStudents","summary":"Fetch only Students","tags":["users"],"parameters":[],"responses":{"200":{"description":"Students Fetched Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}}},"/proxy/api/users/{uuid}":{"get":{"operationId":"findOne","summary":"Fetch user by uuid","tags":["users"],"parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"User Fetched Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}},"delete":{"operationId":"deleteByUuid","summary":"Delete user by uuid","tags":["users"],"parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"User deleted Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}},"put":{"operationId":"editByUuid","summary":"Edit user by uuid","tags":["users"],"parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"User updated Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}}},"/proxy/api/users/subscriptions/{uuid}":{"get":{"operationId":"viewSubscriptionsByUuid","summary":"Fetch Student by uuid","tags":["users"],"parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"User Fetched Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}}},"/proxy/api/users/{uuid}/subscriptions":{"post":{"operationId":"assignSubscriptions","summary":"Subscription assigned to user succesfully","tags":["users"],"parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"400":{"description":"Bad Request."},"403":{"description":"Forbidden."}}}},"/proxy/api/users/{uuid}/resetPassword":{"put":{"operationId":"changePassword","summary":"Reset Password","tags":["users"],"parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Reset Password Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}}},"/proxy/api/users/{uuid}/resetUserPassword":{"put":{"operationId":"resetPassword","summary":"Reset Password","tags":["users"],"parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Reset Password Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}}},"/proxy/api/users/clearSubscrptions/{uuid}":{"put":{"operationId":"clearSubscrptions","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/users/coupons/{userId}/{subscriptionId}":{"get":{"operationId":"fetchCouponsBysubscriptions","parameters":[{"name":"userId","required":true,"in":"path","schema":{"type":"array","items":{"type":"string"}}},{"name":"subscriptionId","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/users/agent/coupons/{subscriptionId}":{"get":{"operationId":"fetchAgentCouponsBysubscriptions","parameters":[{"name":"subscriptionId","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/users/searchDateFilter":{"post":{"operationId":"getTransactionsDateFilter","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/users/disableuserfortestsubmits":{"post":{"operationId":"disableUserForTestSubmits","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/users/disableuserfortestsubmits/list":{"get":{"operationId":"disableUserForTestSubmitsList","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/users/disableuserfortestsubmits/status/{id}":{"put":{"operationId":"disableUserForTestSubmitStatus","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/users/disableuserfortestsubmits/{uuid}":{"delete":{"operationId":"disableUserForTestSubmitDelete","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/users/copy-users-to-another-database":{"post":{"operationId":"copyUsersToAnotherDatabase","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/users/generateBranchIoLink":{"post":{"operationId":"generateBranchIo","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/users/fetch-users-submitted-data":{"post":{"operationId":"fetchUsersSubmittedData","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/users/fetch-users-submitted-tests":{"post":{"operationId":"fetchUsersSubmittedTests","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/users/inActive/users":{"get":{"operationId":"inActiveUsers","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/employee/employeeLogin":{"post":{"operationId":"login","summary":"Employee logged in succesfully","tags":["users"],"parameters":[],"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Employee"}}}},"400":{"description":"Bad Request."},"403":{"description":"Forbidden."}}}},"/proxy/api/employee":{"post":{"operationId":"createUser","summary":"Employee created succesfully","tags":["users"],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEmployeeDto"}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Employee"}}}},"400":{"description":"Bad Request."},"403":{"description":"Forbidden."}}},"get":{"operationId":"findAll","summary":"Fetch all users","tags":["users"],"parameters":[],"responses":{"200":{"description":"Users Fetched Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}}}}}}}},"/proxy/api/employee/{uuid}":{"get":{"operationId":"findOne","summary":"Fetch employee by uuid","tags":["users"],"parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Employee Fetched Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}}}}}}},"delete":{"operationId":"deleteByUuid","summary":"Delete employee by uuid","tags":["users"],"parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Employee deleted Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}}}}}}},"put":{"operationId":"editByUuid","summary":"Edit employee by uuid","tags":["users"],"parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Employee updated Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}}}}}}}},"/proxy/api/employee/edit/{uuid}":{"get":{"operationId":"findByUuidEdit","summary":"Fetch employee by uuid","tags":["users"],"parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Employee Fetched Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}}}}}}}},"/proxy/api/employee/{uuid}/resetEmployeePassword":{"put":{"operationId":"resetPassword","summary":"Reset Password","tags":["users"],"parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Reset Password Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Employee"}}}}}}}},"/proxy/api/organizations":{"post":{"operationId":"create","parameters":[],"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}},"put":{"operationId":"updateByUuid","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/organizations/active":{"get":{"operationId":"findActiveOrg","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/organizations/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/organizations/{orgUuid}/users":{"post":{"operationId":"addBulkUsersByOrgUuid","parameters":[{"name":"orgUuid","required":true,"in":"path","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"responses":{"201":{"description":""}}}},"/proxy/api/organizations/{orgUuid}/users/{userUuid}":{"delete":{"operationId":"deleteUserFromOrgByUuid","parameters":[{"name":"orgUuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"userUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[{"name":"orgUuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"userUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/organizations/{orgUuid}/courses":{"post":{"operationId":"createCourse","parameters":[{"name":"orgUuid","required":true,"in":"path","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCourseDTO"}}}},"responses":{"201":{"description":""}}}},"/proxy/api/organizations/{orgUuid}/courses/{courseUuid}":{"delete":{"operationId":"deleteByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"courseUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"courseUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/portal/about":{"post":{"operationId":"createAboutUsPage","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAboutUsDTO"}}}},"responses":{"201":{"description":""}}},"put":{"operationId":"updateAboutUsPage","parameters":[],"responses":{"200":{"description":""}}},"get":{"operationId":"getAboutUsPage","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/portal/careers":{"post":{"operationId":"addJob","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateJobDTO"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/portal/careers/{jobUuid}":{"get":{"operationId":"findOne","parameters":[{"name":"jobUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"jobUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/portal/messages":{"get":{"operationId":"getAllMessages","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/qbank/subjects/{uuid}/tests":{"post":{"operationId":"createQBank","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateQBankDTO"}}}},"responses":{"201":{"description":""}}}},"/proxy/api/qbank/subjects/bulkTests":{"post":{"operationId":"createBulkTopics","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/qbank/subjects/{uuid}/chapter/{capterUuid}/tests/{topicUuid}":{"get":{"operationId":"findTopicByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"capterUuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"topicUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/qbank/courses/{id}":{"get":{"operationId":"findByCourse","summary":"Fetch QBanks by Course Id","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"QBanks Fetched Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/QBank"}}}}}}}},"/proxy/api/qbank/subjectsByCourseIds":{"post":{"operationId":"findSubjectsByCoueseId","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/qbank/subjects/{uuid}/tests/{topicUuid}":{"delete":{"operationId":"deleteByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"topicUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/qbank/resetUser/{userId}":{"post":{"operationId":"resetUserTest","parameters":[{"name":"userId","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"201":{"description":""}}}},"/proxy/api/qbank/subjects":{"post":{"operationId":"createQBank","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateQBankSubjectDto"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/qbank/subjects/perals/qbankSubjects":{"get":{"operationId":"getQbankSubjects","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/qbank/subjects/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/qbank/subjects/courses/{id}":{"get":{"operationId":"findByCourse","summary":"Fetch QBanks Subjects by Course Id","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"QBanks Subjects Fetched Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/QBankSubject"}}}}}}}},"/proxy/api/qbank/subjects/qbanksubjects/{uuid}/tests/{topicUuid}":{"delete":{"operationId":"deleteByTestUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"topicUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/qbank/subjects/qbsubject/{qbuuid}/chapter/{cuuid}/topic/{tuuid}":{"get":{"operationId":"findQbQuestions","parameters":[{"name":"qbuuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"cuuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"tuuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/qbank/subjects/qbsubjects/{uuid}/chapters/{cUuid}/tests/{topicUuid}/que/{queUuid}":{"delete":{"operationId":"deleteQueByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"cUuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"topicUuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"queUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/qbank/subjects/copyQBQuestions":{"post":{"operationId":"copyQBQuestions","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/qbank/subjects/copyQBTopics":{"post":{"operationId":"copyQBTopics","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/qbank/subjects/copyQBChapter":{"post":{"operationId":"copyQBChapter","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/qbank/subjects/moveQBQuestions":{"post":{"operationId":"moveQBQuestions","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/qbank/subjects/dragAndDropQBQuestions":{"post":{"operationId":"dragAndDropQBQuestions","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/qbank/subjects/dragAndDropQBTopics":{"post":{"operationId":"dragAndDropQBTopics","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/qbank/subjects/dragAndDropQBChapters":{"post":{"operationId":"dragAndDropQBChapters","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/qbank/subjects/dragAndDropQBSubjects":{"post":{"operationId":"dragAndDropQBSubjects","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/qbank/subjects/moveQBTopics":{"post":{"operationId":"moveQBTopics","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/qbank/subjects/moveQBChapters":{"post":{"operationId":"moveQBChapters","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/qbank/subjects/deleteQBChapters":{"post":{"operationId":"deleteQBChapters","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/qbank/subjects/deleteQBQuestions":{"post":{"operationId":"deleteQBQuestions","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/qbank/subjects/deleteQBTopics":{"post":{"operationId":"deleteMultipleTopics","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/questions":{"post":{"operationId":"create","parameters":[],"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/questions/insertMany/questions":{"post":{"operationId":"createMultiQuestions","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/questions/updateShortTitle":{"post":{"operationId":"updateShortTitle","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/questions/bySyllabusId/{syllabusId}":{"get":{"operationId":"findAllBySyllabusId","parameters":[{"name":"syllabusId","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/questions/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/questions/bulk/{uuid}":{"put":{"operationId":"editQuestionByJsonFile","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/questions/qbankAddQuestions":{"post":{"operationId":"qbankAddQuestions","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/questions/bulk/qbankQuestions":{"post":{"operationId":"qbankBulkAddQuestions","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/questions/bulk/testQuestions":{"post":{"operationId":"testBulkAddQuestions","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/questions/testSeriesAddQuestions":{"post":{"operationId":"testSeriesAddQuestions","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/questions/checkQuestionBeforeAdd":{"post":{"operationId":"checkQuestionBeforeAdd","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/questions/questionSearch":{"post":{"operationId":"search","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/sample":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSampleDTO"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/sample/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/sample/byid/{id}/{uuid}":{"get":{"operationId":"findOneByID","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}},{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/sample/search/{title}":{"get":{"operationId":"searchByTitle","parameters":[{"name":"title","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/subscriptions":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSubscriptionDto"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/subscriptions/{subUuid}":{"get":{"operationId":"findOne","parameters":[{"name":"subUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"subUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/subscriptions/edit/{subUuid}":{"get":{"operationId":"editSubscription","parameters":[{"name":"subUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/subscriptions/update/{subUuid}":{"put":{"operationId":"editByUuid","parameters":[{"name":"subUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/subscriptions/sub/getSubcriptionsGreaterToday":{"get":{"operationId":"getSubcriptionsGreaterToday","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/subscriptions/sub/couponSubscriptions":{"get":{"operationId":"couponSubscriptions","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/subscriptions/courses/{id}":{"get":{"operationId":"findByCourse","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/syllabus":{"post":{"operationId":"create","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSyllabusDto"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/syllabus/getSubjectsAndChapters":{"get":{"operationId":"getSubjectsAndChapters","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/syllabus/getSubject/ChapterList/{uuid}":{"get":{"operationId":"getSubjectOrChapterList","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/syllabus/only/subjects":{"get":{"operationId":"onlySubjects","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/syllabus/only/chapters":{"get":{"operationId":"onlyChapters","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/syllabus/subjects/search":{"get":{"operationId":"findSubejcts","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/syllabus/active/subjects":{"get":{"operationId":"getActiveSyllabus","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/syllabus/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/syllabus/getChapters":{"post":{"operationId":"fetChapters","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/syllabus/fetChapters":{"post":{"operationId":"getChapters","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/syllabus/fetChapters/videos":{"post":{"operationId":"getvideoChapters","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/videos/subjects":{"post":{"operationId":"createSubject","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVideoSubjectDto"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/videos/subjects/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/videos/subjects/courses/{id}":{"get":{"operationId":"findByCourse","summary":"Fetch Video Subjects by Course Id","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Video Subjects Fetched Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VideoSubject"}}}}}}}},"/proxy/api/videos/subjects/subjectsByCourseIds":{"post":{"operationId":"findSubjectsByCoueseId","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/videos/subjects/{videoSubjectUuid}":{"put":{"operationId":"editByUuid","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/videos/subjects/copyVideos":{"post":{"operationId":"copyVideos","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/videos/subjects/copychapters":{"post":{"operationId":"copyVideosChapters","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/videos/subjects/moveVideos":{"post":{"operationId":"moveVideos","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/videos/subjects/moveChapters":{"post":{"operationId":"moveVideoChapters","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/videos/subjects/deleteChapters":{"post":{"operationId":"deleteVideoChapters","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/videos/subjects/deleteVideos":{"post":{"operationId":"deleteMultipleTopics","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/videos/subjects/dragAndDropVideos":{"post":{"operationId":"dragAndDropVideos","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/videos/subjects/dragAndDropVideoChapters":{"post":{"operationId":"dragAndDropChapters","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/videos/subjects/dragAndDropSubjects":{"post":{"operationId":"dragAndDropSubjects","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/videos/subjects/{uuid}/video":{"post":{"operationId":"createVideo","summary":"Create Video","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVideoDTO"}}}},"responses":{"200":{"description":"Video Created Successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Video"}}}}}}},"/proxy/api/videos/subjects/bulkVideos":{"post":{"operationId":"createBulkTopics","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/videos/subjects/{uuid}/chapter/{chapterUuid}/videos/{videoUuid}/{course}":{"get":{"operationId":"videoByUuid","summary":"Fetch Video","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"chapterUuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"videoUuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"course","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Video Fetched Successfully"}}}},"/proxy/api/videos/subjects/{uuid}/videos/{videoUuid}":{"delete":{"operationId":"deleteByUuid","summary":"Delete Video","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"videoUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Video Deleted Successfully"}}}},"/proxy/api/videos/subjects/updateVideos":{"post":{"operationId":"editVideoByUuid","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/ts/categories":{"post":{"operationId":"createTSCategories","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTSCategoriesDTO"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/ts/categories/insertTSTestes":{"post":{"operationId":"insertTSTests","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/ts/categories/tests/{uuid}":{"get":{"operationId":"getTests","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/ts/categories/subjectsByCourseIds":{"post":{"operationId":"findSubjectsByCoueseId","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/ts/categories/courses/{id}":{"get":{"operationId":"findByCourse","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/ts/categories/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/ts/categories/getTestSeriesCourses":{"post":{"operationId":"getTestSeriesCourseByCategory","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/ts/categories/uuid/{uuid}/testuuid/{testuuid}":{"get":{"operationId":"getTestsByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"testuuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/ts/categories/uuid/{uuid}/test/{testUuid}":{"put":{"operationId":"editTestByUuid","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/ts/categories/uuid/{uuid}/test_series/{testUuid}":{"delete":{"operationId":"deleteTestByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"testUuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/ts/categories/uuid/{uuid}/tsTestuuid/{testuuid}":{"get":{"operationId":"getTestQuestionsByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}},{"name":"testuuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/ts/categories/deleteTSQuestions":{"post":{"operationId":"deleteTSQuestions","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/ts/categories/copyTSQuestions":{"post":{"operationId":"copyTSQuestions","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/ts/categories/moveTSQuestions":{"post":{"operationId":"moveTSQuestions","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/ts/categories/dragAndDropTSQuestions":{"post":{"operationId":"dragAndDropTSQuestions","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/ts/categories/dragAndDropTests":{"post":{"operationId":"dragAndDropTests","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/ts/categories/copyTSTests":{"post":{"operationId":"copyQBTopics","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/ts/categories/moveTSTests":{"post":{"operationId":"moveTSTests","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/ts/categories/update-test-series-upcoming-status":{"post":{"operationId":"updateTestSeriesUpcoming","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/ts/categories/createDailyTest/test":{"get":{"operationId":"createDailyTest","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/ts/categories/vanishDailyTest/test":{"get":{"operationId":"vanishDailyTest","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/ts/categories/getLeaderBoardUserAnalysis":{"post":{"operationId":"getLeaderBoardUserAnalysis","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/ts/categories/reset-test":{"post":{"operationId":"resetTest","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/ts/tests":{"post":{"operationId":"createTest","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTestDTO"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/ts/tests/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/ts/tests/courses/{id}":{"get":{"operationId":"findByCourse","summary":"Fetch Tests by Course Id","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Tests Fetched Successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Test"}}}}}}}},"/proxy/api/test-series/questions":{"post":{"operationId":"getTestSeriesQuestions","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/test-series/paginate":{"get":{"operationId":"backend","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/vdocipher/all":{"get":{"operationId":"findAllVideos","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/pearls":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePearlsDto"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/pearls/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/pearls/questions/{uuid}":{"get":{"operationId":"getPeralQuestions","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/usertransactions":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserTransactionsDTO"}}}},"responses":{"201":{"description":""}}}},"/proxy/api/usertransactions/transactions":{"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/usertransactions/searchDateFilter":{"post":{"operationId":"getTransactionsDateFilter","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/usertransactions/masterAdviceTransactions":{"get":{"operationId":"getMasterAdviceTransactions","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/usertransactions/masterAdvice/searchDateFilters":{"post":{"operationId":"getmasterAdviceDateFilter","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/usertransactions/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/usertransactions/subscription/{id}":{"get":{"operationId":"assignedSubscriptions","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/usertransactions/year/payments":{"post":{"operationId":"yearlyPayments","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/usertransactions/week/payments":{"get":{"operationId":"weeklyPayments","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/usertransactions/all/payments":{"get":{"operationId":"paymentReports","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/role-modules":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRoleValuesDTO"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/role-modules/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/role-modules/active/rolesValues":{"get":{"operationId":"activeRoleValues","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/role-sub-module":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRoleSubModulesDTO"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/role-sub-module/active/roleSubModules":{"get":{"operationId":"activeRoleSubModules","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/role-sub-module/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/roles":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRolesDTO"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/roles/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"delete":{"operationId":"deleteByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/roles/role/{id}":{"get":{"operationId":"findOneRole","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/roles/active/roles":{"get":{"operationId":"activeRoleValues","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/agentTransactions":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentTransactionsDTO"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/agentTransactions/searchDateFilter":{"post":{"operationId":"getTransactionsDateFilter","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/agentTransactions/agent/{id}":{"get":{"operationId":"getAgentTransations","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/agentTransactions/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/pearlsubjects":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePearlSubjectsDto"}}}},"responses":{"201":{"description":""}}}},"/proxy/api/pearlsubjects/getSubjectsAndChapters":{"post":{"operationId":"getSubjectsAndChapters","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/pearlsubjects/updatePearlSubjects":{"post":{"operationId":"updatePearlSubjects","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePearlSubjectsDto"}}}},"responses":{"201":{"description":""}}}},"/proxy/api/suggestedvideos":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSuggestedVideoDto"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/suggestedvideos/status/{id}":{"put":{"operationId":"updateStatus","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/suggestedvideos/courseId":{"delete":{"operationId":"deleteByUuid","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/suggestedtests":{"post":{"operationId":"add","parameters":[],"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/suggestedtests/status/{id}":{"put":{"operationId":"updateStatus","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/suggestedqbank":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSuggestedQbankDto"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/suggestedqbank/status/{id}":{"put":{"operationId":"updateStatus","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/mcqoftheday":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMCQOfTheDayDto"}}}},"responses":{"201":{"description":""}}},"get":{"operationId":"getMCQs","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/mcqoftheday/status/{id}":{"put":{"operationId":"updateStatus","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/mcqoftheday/update-mcq-of-the-day":{"get":{"operationId":"updateMcqOfTheDay","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/mcqoftheday/send-push-notification-mcq-of-the-day":{"get":{"operationId":"sendPushNotificationMCQOfTheOfDay","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/notifiations/send-notification":{"post":{"operationId":"sendNotification","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/notifiations":{"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/notifiations/schedule-notification":{"post":{"operationId":"scheduleNotification","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/notifiations/send-schedule-notification":{"get":{"operationId":"sendScheduleNotification","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/notifiations/send-alert-expired-subscription":{"get":{"operationId":"sendAlertExpiredSubscription","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/notifiations/send-subscription-expire-alert":{"get":{"operationId":"sendSubscriptionExpireAlert","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/notifiations/searchDateFilter":{"post":{"operationId":"getNotificationsDateFilter","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/notifiations/view-notification/{id}":{"get":{"operationId":"getNotificationById","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/notifiations/{id}":{"delete":{"operationId":"deleteByUuid","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/feedback":{"post":{"operationId":"createFeedback","parameters":[],"responses":{"201":{"description":""}}},"get":{"operationId":"getFeedbacks","parameters":[],"responses":{"200":{"description":""}}},"put":{"operationId":"updateFeedback","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/feedback/active":{"get":{"operationId":"getActiveFeedbacks","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/feedback/{uuid}":{"get":{"operationId":"findFeedback","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/feedback/{id}":{"delete":{"operationId":"deleteFeedback","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/logs":{"post":{"operationId":"add","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatelogsDto"}}}},"responses":{"201":{"description":""}}}},"/proxy/api/department":{"post":{"operationId":"add","parameters":[],"responses":{"201":{"description":""}}},"get":{"operationId":"findAll","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/department/activeDepartments":{"get":{"operationId":"activeTags","parameters":[],"responses":{"200":{"description":""}}}},"/proxy/api/department/{uuid}":{"get":{"operationId":"findOne","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}},"put":{"operationId":"editByUuid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/department/{id}":{"delete":{"operationId":"deleteByUuid","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/department/allTickets":{"post":{"operationId":"getAllTickets","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/department/ticket/{uuid}":{"get":{"operationId":"getTicketByUUid","parameters":[{"name":"uuid","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}}}},"/proxy/api/department/send-reply":{"post":{"operationId":"sendReply","parameters":[],"responses":{"201":{"description":""}}}},"/proxy/api/department/updateTicket/status":{"put":{"operationId":"updateTicket","parameters":[],"responses":{"200":{"description":""}}}}}}